@import "tailwindcss";


@theme {
    --color-primary: #432dd7;
    --color-primarybg: #372aac;
    --color-secondary: #a5b4fc;
    --color-font: #1e293b;
    --color-background: #F6EEF9;
    --color-hover: #9088F1;
    --color-dark: #20193D;
    --color-hoverBg: #eef2ff;

    --gradient-primary: linear-gradient(to right, #6366f1, #a78bfa, #ec4899);
}


@utility gradient-primary {
    background: var(--gradient-primary);
}

@theme {
    --color-primary-50: #eef2ff;
    --color-primary-100: #e0e7ff;
    --color-primary-200: #c7d2fe;
    --color-primary-300: #a5b4fc;
    --color-primary-400: #818cf8;
    --color-primary-500: #6366f1;
    --color-primary-600: #4f46e5;
    --color-primary-700: #4338ca;
    --color-primary-800: #3730a3;
    --color-primary-900: #312e81;
    --color-primary-950: #1e1b4b;
}